doctype html
html
  head
    title= title
    link(rel='script', href='/javascripts/jquery-2.1.4.min.js')  
    link(rel='script', href='/javascripts/bootstrap.js')
    link(rel='script', href='/javascripts/holder.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/signin.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
  body
    block content
